@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

/* header */
#header {
    width: 100%;
}

#header #iconbox {
    width: 100%;
    text-align: left;
    display: inline-flex;
    justify-content: flex-end;
    font-size: 30px;
}

#header #iconbox a {
    margin: 1%;
}

#header #title {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#header h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.8rem;
}

#header #blue {
    color: #1890ff;
}

#header a {
    text-decoration: none;
}

/* footer */
#footer {
    font-size: 0.8em;
    color: #878787;
    text-align: center;
    width: 100%;
    min-height: 5%;
}

/* error */
#error {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

/* aboutme */
#aboutme {
    margin: auto;
    width: 50%;
}

#aboutme h2 {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* blog */
#articles {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#articles .ant-list-item-content {
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-rows: 10% 20% 10%;
    grid-template-columns: 1fr;
}

#articles .date {
    font-size: 1.2rem;
    font-weight: 500;
    grid-row: 1;
    margin-bottom: 0;
}

#articles .title {
    grid-row: 2;
    margin-bottom: 0;
}

#articles .tag-field {
    grid-row: 3;
}

#articles .ant-tag {
    font-size: 1.2rem;
}

/* Article */
#article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#article .article-header {
    display: grid;
    grid-template-rows: 10% 20% 10%;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #e8e8e8;
}

#article .title {
    font-size: 2.2rem;
    grid-row: 2;
    margin-bottom: 0;
    font-weight: 500;
}

#article .create-date {
    font-size: 1.2rem;
    font-weight: 500;
    grid-row: 1;
    margin-bottom: 0;
}

#article .tag-field {
    grid-row: 3;
    margin-bottom: 2%;
}

#article .ant-tag {
    font-size: 1.2rem;
}

.article-content {
    margin-top: 2%;
}

.article-content h1 {
    font-size: 2.0rem;
    margin-top: 2%;
}

.article-content h2 {
    font-size: 1.8rem;
    margin-top: 2%;
}

.article-content h3 {
    font-size: 1.6rem;
    margin-top: 2%;
}

.article-content p {
    font-size: 1.4rem;
}

.article-content li {
    font-size: 1.4rem;
}

.article-content pre {
    font-size: 1.2rem;
    font-family: Consolas, Menlo, Courier, monospace;
    line-height: 2rem;
    padding: 1.2rem;
    background: #f0f0f0;
}

#article blockquote {
    color: #666;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

@media only screen and (max-width:961px) {
    #aboutme {
        width: 80%;
    }

    #articles {
        width: 80%;
    }

    #article {
        width: 80%;
    }
}