html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f6f6f6;
    font-family: "メイリオ", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
}

div {
    background-color: #f6f6f6;
    font-family: "メイリオ", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    font-size: 2.2rem;
    color: #333;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    font-size: 2.0rem;
    color: #333;
    text-decoration: none;
}

h4 {
    font-size: 20px;
    font-size: 2.0rem;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

#root {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:651px) {
  html {
    font-size: 71.4286%;
  }
}

@media only screen and (min-width:961px) {
  html {
    font-size: 75.8929%;
  }
}
